"*":
  core:
    audioBeep: false
    disabledPackages: [
      "spell-check"
      "symbols-view"
    ]
    packagesWithKeymapsDisabled: [
      "atom-ctags"
    ]
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  docblockr:
    param_description: false
    return_description: false
  editor:
    autoIndentOnPaste: false
    fontFamily: "DejaVu Sans Mono"
    fontSize: 12
    invisibles:
      eol: false
      space: false
    preferredLineLength: 120
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "ecd4e5f9-2825-9d2b-5585-48634411f938"
  minimap: {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
