"*":
  core:
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    tabLength: 4
  "exception-reporting":
    userId: "ecd4e5f9-2825-9d2b-5585-48634411f938"
  minimap: {}
  welcome:
    showOnStartup: false
