# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'.source.php':
  'Affiche un echo formatté':
    'prefix': 'ecn'
    'body': 'echo ${1:expression} . " <br>\\\\n";'
  'Affiche un print_r formatté':
    'prefix': 'ptr'
    'body': 'echo \'<pre>\'; print_r(${1:expression}); echo \'<pre>\' . " <br>\\\\n";'
  'Tracedebug':
    'prefix': 'td'
    'body': 'tracedebug(${1:expression}, \'${2:jdx}\', ${3:0});'
'.source.js':
  'Console info':
    'prefix': 'ci'
    'body': 'console.info(${1:expression});'
